<ion-header no-shadow>
  <ion-toolbar class="header-toolbar">
    <ion-label [routerLink]="['/home']">
      {{ appName | uppercase }}
      <span class="daily-chk"> {{ appNameSuffix | uppercase }} </span>
    </ion-label>
    <ion-buttons slot="end">
      <ion-select [(ngModel)]="selectedLanguage" (ionChange)="onLanguageChange()">
        <ion-select-option *ngFor="let language of languages" [value]="language.code">
          {{ language.name }}
        </ion-select-option>
      </ion-select>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="closeAppBtn">
    <ion-icon slot="icon-only" name="close-outline" (click)="closeApp()"></ion-icon>
  </div>
</ion-header>
<div class="testMode">
  {{ test ? "Test Mode" :"" }}
</div>