<ion-header no-shadow>
  <ion-toolbar>
    <ion-label>
      PROJECT CONNECT
      <span class="daily-chk"> DAILY CHECK </span>
    </ion-label>
    <ion-buttons slot="end">
      <ion-select
        [(ngModel)]="selectedLanguage"
        (ionChange)="onLanguageChange()"
      >
        <ion-select-option
          *ngFor="let language of languages"
          [value]="language.code"
        >
          {{ language.name }}
        </ion-select-option>
      </ion-select>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
