ion-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ion-label {
  text-align: center;
  flex-grow: 1;
}

ion-select {
  //   margin-left: auto; /* Push it to the right */
  font-size: small;
}
