<app-pcdc-header></app-pcdc-header>
<ion-content class="ion-padding font_open_sans content_paddding">
  <div class="container">

    <ion-item lines="none" class="label_top">
      <ion-label class="font_size" [translate]="'schoolDetails.saveEmail'" [translateParams]="{ facility: (facilityLabelKey | translate) }"></ion-label>
    </ion-item>

    <div class="optional" [translate]="'saveEmail.optional'"></div>
    <!-- <ion-item lines="none" class="custom-gray-item" [class.ion-invalid]="emailControl?.value?.length > 0 && emailControl.invalid && emailControl.touched"> -->
      <ion-input fill="solid"  type="email" [formControl]="emailControl" placeholder="e.g. info@school.edu" class="custom-gray-item">
      </ion-input>
    <!-- </ion-item> -->

    <div class="error-msg" *ngIf="emailControl.invalid">
      <span *ngIf="emailControl.errors?.['invalidEmail']" [translate]="'saveEmail.validEmail'"></span>
    </div>
    <div class="text_under_input" [translate]="'saveEmail.instruction'"></div>

  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="ion-padding footer_button">
    <div class="btn-holder" style="margin-bottom: 14px;">
      <ion-button block class="nobtn" (click)="skip()" [translate]="'schoolDetails.skip'">Skip</ion-button>
      <ion-button block class="yesbtn" (click)="addEmail()" [disabled]="emailControl.invalid"
        [translate]="'schoolDetails.add'">
        Add
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>