<app-pcdc-header></app-pcdc-header>
<ion-content class="scrollable_content">
  <ion-card class="card_margin">
    <div class="centerPos">
      <ion-item class="custom-item" lines="none" color="light">
        <ion-label>
          <p class="subtitle">{{ selectedCountry }} - {{ schoolId }}</p>
          <h2 class="title" title="{{ schoolId }}">{{ school.name }}</h2>
        </ion-label>
      </ion-item>
      <ion-list lines="none" class="horizontal-list">
        <!-- <ion-item lines="none">
          <ion-label>
            <h3 [translate]="'startTest.network'"></h3>
            <p title="--">--</p>
          </ion-label>
        </ion-item> -->

        <ion-item lines="none" class="center-pos">
          <ion-label class="position">
            <h3 [translate]="'startTest.isp'"></h3>
            <p title="{{ measurementISP }}">
              {{ measurementISP?.length ? measurementISP : "---" }}
            </p>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label class="position">
            <h3 [translate]="'startTest.server'"></h3>
            <p title="{{ measurementnetworkServer }}">
              {{
                measurementnetworkServer?.length
                  ? measurementnetworkServer
                  : "---"
              }}
            </p>
          </ion-label>
        </ion-item>
      </ion-list>
      <!-- <ion-list lines="none" class="horizontal-list">
        <ion-item lines="none">
          <ion-label>
            <h3>Nb of students</h3>
            <p>230</p>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label>
            <h3>Nb of teachers</h3>
            <p>18</p>
          </ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-label>
            <h3>Education level</h3>
            <p>Primary</p>
          </ion-label>
        </ion-item>
      </ion-list> -->
    </div>
  </ion-card>
  <ion-card class="footer_card_margin">
    <ion-card-header>
      <ion-card-title class="test_history" [translate]="'startTest.total'">
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <!-- Header Row -->
        <ion-row class="table-header">
          <ion-col size="2.2" [translate]="'startTest.date'">Date</ion-col>
          <ion-col size="2.2">
            <div class="header-with-unit">
              <span [translate]="'startTest.downloadLowerCase'"></span>
              <span class="unit-text">(Mbps)</span>
            </div>
          </ion-col>
          <ion-col size="2.2">
            <div class="header-with-unit">
              <span [translate]="'startTest.uploadLowerCase'"></span>
              <span class="unit-text">(Mbps)</span>
            </div>
          </ion-col>
          <ion-col size="1.5">
            <div class="header-with-unit">
              <span [translate]="'startTest.latencyDetail'"></span>
              <span class="unit-text">(ms)</span>
            </div>
          </ion-col>
          <ion-col size="2.1" [translate]="'startTest.testTrigger'"
            >Test Trigger</ion-col
          >
          <ion-col size="1.8" [translate]="'startTest.status'">Status</ion-col>
        </ion-row>

        <!-- Data Rows -->
        <span *ngIf="measurementsData?.length <= 10">
          <ion-row *ngFor="let data of measurementsData">
            <ion-col size="2.2"
              >{{ data.timestamp | date : "dd-MM-yyyy HH:mm" }}
            </ion-col>
            <ion-col size="2.2">{{
              data.results["NDTResult.S2C"].LastClientMeasurement.MeanClientMbps
                | number : "1.2-2"
            }}</ion-col>
            <ion-col size="2.2">{{
              data.results["NDTResult.C2S"].LastClientMeasurement.MeanClientMbps
                | number : "1.2-2"
            }}</ion-col>
            <ion-col size="1.5">{{
              (data.results["NDTResult.S2C"].LastServerMeasurement.BBRInfo
                .MinRTT +
                data.results["NDTResult.C2S"].LastServerMeasurement.BBRInfo
                  .MinRTT) /
                2 /
                1000 | number : "1.2-2"
            }}</ion-col>
            <ion-col size="2.1">{{
              getTestTriggerDisplayText(data.Notes)
            }}</ion-col>
            <ion-col [ngClass]="getSyncStatusClass(data)" size="1.8">{{
              getSyncStatusText(data)
            }}</ion-col>
          </ion-row>
        </span>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
<app-footer-navbar></app-footer-navbar>
