
<ion-header no-shadow>
  <ion-navbar>
    <ion-label>PROJECT CONNECT <span class="daily-chk">DAILY CHECK</span></ion-label>
  </ion-navbar>
</ion-header>
<ion-content>
  <div className="container">
    <div className="top-layout">
        <div class="provide-id">To get started. please provide your school ID:</div>
        <ion-label class="school-label">SCHOOL ID</ion-label>
        <ion-input placeholder="Enter your school ID" class="schoolid-input"></ion-input>
        <ion-button expand="full" class="search-btn">SEARCH FOR MY SCHOOL</ion-button>
        <div className="learn-more" class="noschoolid-link">I DON't KNOW MY SCHOOL ID <span className="chevron right"></span></div>
     </div>
    <div className="bottom-layout"> 
     
      <div className="dailychk-txt">Frequently asked questions </div>
        
          <ion-accordion-group> 
           <ion-accordion value="colors">
            <ion-item slot="header">
              <ion-label>What is a school id?</ion-label>
            </ion-item>
            <ion-list slot="content">
              <ion-item>
                <ion-label>Red</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Green</ion-label>
              </ion-item>
              <ion-item>
                <ion-label>Blue</ion-label>
              </ion-item>
            </ion-list>
          </ion-accordion>
        </ion-accordion-group>
        <ion-accordion-group> 
          <ion-accordion value="colors">
           <ion-item slot="header">
             <ion-label>How do i find my school id?</ion-label>
           </ion-item>
           <ion-list slot="content">
             <ion-item>
               <ion-label>Red</ion-label>
             </ion-item>
             <ion-item>
               <ion-label>Green</ion-label>
             </ion-item>
             <ion-item>
               <ion-label>Blue</ion-label>
             </ion-item>
           </ion-list>
         </ion-accordion>
       </ion-accordion-group>
     
     </div>
   </div>
</ion-content>
