
<ion-header no-shadow>
  <ion-toolbar>
    <ion-label [routerLink]="['/home']">PROJECT CONNECT <span class="daily-chk">DAILY CHECK</span></ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">
    <div class="top-layout">
        <div class="provide-id">To get started, please enter and search for your School ID</div>
        <!-- <div class="school-label">SCHOOL ID</div> -->
<!--         <ion-input placeholder="Enter your school ID" class="schoolid-input" [(ngModel)]="schoolId" (ngModelChange)="validateSchoolId($event)" required minlength="4"></ion-input>
 -->        <div class="wrap">
          <div class="search">
             <input type="text" class="searchTerm" placeholder="Enter your school ID" [(ngModel)]="schoolId" (ngModelChange)="validateSchoolId($event)" required minlength="4">
             <button type="submit" class="searchButton" (click)="searchSchoolById()" [disabled]="isDisabled">
               <ion-icon name="search-outline" class="searchIcon"></ion-icon>
            </button>
          </div>
       </div>
       <!--  <ion-button expand="full" primary class="search-btn" (click)="searchSchoolById()" [disabled]="isDisabled">SEARCH FOR MY SCHOOL</ion-button>-->
        <div class="learn-more" class="noschoolid-link">I DON'T KNOW MY SCHOOL ID <span class="chevron right"></span></div> 
     </div>
    <div class="bottom-layout">     
      <div class="freq-txt">FREQUENTLY ASKED QUESTIONS</div>        
        <div class="accordion-sec">  
          <ion-accordion-group value="numbers">
            <ion-accordion value="colors">
              <ion-item slot="header">
                <ion-label>What is a school id?</ion-label>
              </ion-item>          
              <ion-list slot="content">
                <ion-item>
                  <ion-label>sample content 1</ion-label>
                </ion-item>               
              </ion-list>
            </ion-accordion>
            <ion-accordion value="shapes">
              <ion-item slot="header">
                <ion-label>How do i find my school id?</ion-label>
              </ion-item>          
              <ion-list slot="content">
                <ion-item>
                  <ion-label>sample content 1</ion-label>
                </ion-item>               
              </ion-list>
            </ion-accordion>          
          </ion-accordion-group>
      </div>
     </div>
   </div>
</ion-content>
