@import '../../theme/variables.scss'; 
  .container{
   
    background: $color-black;
    height: 100%;
    border-radius: 0px 0px 10px 10px;
  }
 .h-line{
    margin-top: 22px;
    border-bottom: 1px solid #747474;
    opacity: 0.5;
  }
 .bottom-layout{
    padding: 0px 30px;
  }
  .top-layout{
    
    .test-btn{
      width: 90px;
      height: 90px;
      line-height: 200px;
      border-radius: 50%;
      font-size: 15px;
      color: #fff;
      text-align: center;
      background: #2779FF;
      margin: 20px auto;
    }
    .speedval{
      font-size: 36px;
      text-align: center;
     
    }
    .location-txt{
      font-size: 16px;
      text-align: center;
      color: white;
      padding-top: 10px;
    }
  }
  .result-txt{
    font-size: 16px;
    text-align: center;
    color: white;
    padding-top: 10px;
  }
  .result-heading{
    height:40px;
    background-color: $color-blue;
    text-align: left;
    color: white;
    padding: 15px 30px;
    font-size: 12px;
    letter-spacing: 1;
  }
  .test-details{
    padding: 10px 30px;  
    color: white; 
    line-height: 24px;
  }
