@import '../../theme/variables.scss'; 
  .bottom-layout{
    padding: 0px 30px;
  }
  .top-layout{    
    .test-btn{
      width: 90px;
      height: 90px;
      line-height: 200px;
      border-radius: 50%;
      font-size: 15px;
      color: #fff;
      text-align: center;
      background: #2779FF;
      margin: 20px auto;
    }
    .speedval{
      font-size: 36px;
      text-align: center;     
    }
    .location-txt{
      font-size: 16px;
      text-align: center;
      color: white;
      padding-top: 10px;
    }
  }
  .result-txt{
    font-size: 16px;
    text-align: center;
    color: white;
    padding-top: 10px;
  }
  .result-heading{
    height:40px;
    background-color: $color-blue;
    text-align: left;
    color:$light-text2;
    padding: 15px 30px;
    font-size: 12px;
    letter-spacing: 1;
  }
  .test-details{
    padding: 10px 30px;  
    color: $light-text2; 
    line-height: 24px;
  }
