@import '../../theme/variables.scss'; 
 /*  .container{
    padding: 0px 30px;
    background: url("../../assets/images/Background.png") !important;
    min-width: 100%;
    min-height: 100%;
    background-size: 100% 100%;
    height: 100%;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  } */
  .center-layout{
    .test-btn{
      width: 200px;
      height: 200px;
      line-height: 200px;
      border-radius: 50%;
      font-size: 15px;
      color: #fff;
      text-align: center;
      background: #2779FF;
    }
  }
  .text-center{
    text-align: center !important;
  }
  .pad50{
    padding: 50px;
  }
  .test-container{
    color: #fff !important;
  }
  .currentRate{
    display: inline-block;
    font-size: 3.5em;
    font-weight: 700;
    padding-top: .2em;
  }

  span.currentRateLabel {
      margin-left: .6em;
      font-size: 1.9em;
      font-weight: 100;
  }

  span.currentState {
      font-size: .9em;
      font-weight: 200;
  }
  ion-toolbar{
    ion-buttons{
      width: 25px;
    }
  }
