<ion-header no-shadow>
  <ion-toolbar>
    <ion-label [routerLink]="['/home']">PROJECT CONNECT <span class="daily-chk">DAILY CHECK</span></ion-label>
  </ion-toolbar>
</ion-header>
<ion-content> 
 <div class="container">  
  <ion-slides pager="true" [options]="slideOpts" class="schoolsuccess">
    <ion-slide>
      <div class="top-layout">        
        <div class="successInfo">
          <ion-img src="assets/images/Congratulations_Icon.png" class="icon1"></ion-img>
          <div class="success-txt">CONGRATULATIONS!</div>
          <div class="success-desc-txt">Your School has been registered on <br>Project Connect</div>      
        </div>
      </div>     
    </ion-slide>
    <ion-slide>
      <div class="top-layout">       
        <div class="successInfo">
          <ion-img src="assets/images/Daily_Check_is_Set_Icon.png" class="icon2"></ion-img>
          <div class="success-txt">YOUR DAILY INTERNET <br>CHECK IS SET</div>
          <div class="success-desc-txt">This App will check your <br>internet status twice daily</div>      
        </div>
      </div>     
    </ion-slide>
    <ion-slide>
     <div class="top-layout">
        <div class="successInfo">
          <ion-img src="assets/images/App_Run Background_Icon.png" class="icon3"></ion-img>
          <div class="success-txt">THIS APP WILL RUN <br>IN THE BACKGROUND</div>
          <div class="success-desc-txt">It is ok to shut down the App. <br>Your school's data will be collected <br>when the device power is on.</div>      
        </div>
      </div>     
    </ion-slide>
  </ion-slides>
  <div class="bottom-layout">
    <ion-button color="primary" block [routerLink]="['/searchschool']" class="dailycheck_btn">NEXT</ion-button>   
  </div>
  </div>
</ion-content>
