@import '../../theme/variables.scss'; 
  .container{
    padding: 0px 30px;
    background: $color-black;
    height: 100%;
    border-radius: 0px 0px 10px 10px;
  }
 .schoolsuccess{  
    --bullet-background: #eee;
    --bullet-background-active: #51E12B;
    height: 75%;
 }
 .swiper-slide {
   height: 70% !important;
 }
  ion-label{
    font-size: 12px;
  }
 .label-txt{
    color: $h2color;
    font-size: 20px;
  }
  .h-line{
    margin-top: 22px;
    border-bottom: 1px solid #747474;
    opacity: 0.5;
  }
  .successInfo{    
    ion-img{
      width:160px !important;
     margin: 20px auto;
    }
    .success-txt{
      color: #51E12B;
      text-align: center;
      padding-top: 0px;
    }
    .success-desc-txt{
      color: $h2color;
      text-align: center;
      padding-top: 10px;
      font-size: 16px;
    }
  }  
  .bottom-layout{
    padding: 0px 30px;
  }
  .top-layout{
    padding-top: 20px !important;
  }
