<app-pcdc-header></app-pcdc-header>
<ion-content>
  <div class="container">
    <ion-slides  [options]="slideOpts"  (ionSlideReachEnd)="reachedEnd()" (ionSlideWillChange)="checkCurrentSlide()" class="schoolsuccess" #mySlider>
      <ion-slide>
        <div class="top-layout">
          <div class="successInfo">
            <ion-img src="assets/images/Congratulations_Icon.svg" class="icon1"></ion-img>
            <div class="success-txt" [translate]="'schoolSuccess.congratulations'"></div>
            <div class="success-desc-txt" [innerHtml]="'schoolSuccess.school-registered' | translate:{ appName, facility: (facilityLabelKey | translate) }"></div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="top-layout">
          <div class="successInfo">
            <ion-img src="assets/images/Daily_Check_is_Set_Icon.svg" class="icon2"></ion-img>
            <div class="success-txt" [innerHtml]="'schoolSuccess.success-txt' | translate"></div>
            <div class="success-desc-txt" [innerHtml]="'schoolSuccess.internet-checks' | translate"></div>
          </div>
        </div>
      </ion-slide>
      <ion-slide>
        <div class="top-layout">
          <div class="successInfo">
            <ion-img src="assets/images/app_run.svg" class="icon3"></ion-img>
            <div class="success-txt" [innerHtml]="'schoolSuccess.app-run' | translate"></div>
            <div class="success-desc-txt" [innerHtml]="'schoolSuccess.app-run-desc' | translate:{ facility: (facilityLabelKey | translate) }"></div>
            <div class="success-desc-txt" [innerHtml]="'schoolSuccess.you-can-close' | translate"></div>

          </div>
        </div>
      </ion-slide>
    </ion-slides>
    <div class="swiper-pagination"></div>

    <div class="bottom-layout">
      <ion-button color="primary" appEnterKeyClick (click)="swipeNext()" class="dailycheck_btn btn_margin" *ngIf="!isLast"
         [translate]="'next'"></ion-button>
      <ion-button color="primary" appEnterKeyClick (click)="moveToStartTest()" class="dailycheck_btn btn_margin" *ngIf="isLast"
      [translate]="'schoolSuccess.go-dashboard'"></ion-button>
    </div>
  </div>
</ion-content>