@import '../theme/variables.scss';
.ionMenubg{
    // background-color: #1E2B46 !important;
    background-color: rgba(30, 43, 70, 0.5) !important;
    border-radius: 10px;
    height:93%;
}
.headerbar{
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1E2B46;
    padding-top: 15px;  
    padding-bottom: 10px;  
    .closeIcon{
       font-size: 24px;
        margin-right: 20px;
        color: $light-text1;
    }
    .closeIcon:hover{
        background-color: #42516E;
        border-radius: 50%;
        width: 29px;
        height: 29px;
    }
    .backIcon{
        font-size: 24px;
        margin-left: 20px;
        color: $light-text1;
    }
    .backIcon:hover{
        background-color:#42516E;
        border-radius: 50%;
        width: 28px;
        height: 28px;
    }
}
.freq-ques-txt{
    text-align: left;
    color: #2779FF;
    padding: 10px 25px;
    font-size: 13px;
    background: #1E2B46;
}
.menuContent{
    #background-content{
        --ion-background-color: #1E2B46 !important;
        border-radius: 0px 0px 0px 10px !important;
    }
}

ion-content{
    --ion-background-color: #1E2B46 !important;    
    ion-list{
        ion-item{      
            padding-right: 20px;
            .item-inner{                
                padding-right: 0px !important;
            }
            ion-label{
                color: $light-text2;
                font-size: 13px;
                display: flex;
                align-items: center;
                .hash{
                    font-size: 18px;
                    color:#505868;
                    padding-right: 5px;
                }
            }
            ion-icon{
                color:#505868;
                padding-right: 5px;
            }
            ion-icon[name="chevron-forward-outline"]{
                padding-right: 5px;
                font-size: 15px;
                color:#505868;
            }
        }
    }
    ion-accordion-group{
        margin-left:25px;
        margin-right:15px;
        ion-accordion{
            --ion-background-color:#1E2B46;
            padding: 0px;
            border-bottom: 1px solid #353E52;
            ion-label{
                font-size: 13px;
                color: $light-text2;
                font-weight: 400px;
            }
            ion-list{
                ion-label{
                    font-size: 11px;
                    color: $light-text2;
                    font-weight: 400px;
                    word-wrap: break-word;
                }
            }
        }
    }
}
.aboutprojConn{
    width:252px;
}
.view-proj-btn{
    width: 252px;
    margin: 20px 15px;
}
.abt-prj-con-txt{
    padding:10px 15px 0px 15px !important;
}
.about-proj-con-sec{    
        padding: 0px 10px;
        div{
            padding: 10px 15px;
        ion-label{           
            font-size: 13px;
            color: $light-text2;
            font-weight: 400px;
            line-height: 16px !important;
        }
        .thank-txt{
            font-size: 11px !important;
            color: $light-text2;
            font-weight: 400px;
            line-height: 14px !important;
        }
    }    
}
.your-school-id-sec{
    padding: 10px 25px;          
        .your-school-id{
            padding: 0px 0px !important;
        }
        .schoolid{
            font-size: 18px;
            color: $light-text2;
            font-weight: 400px;
            padding-top: 20px;
        }
        .schoolname-txt{
            font-size: 18px;
            color: $light-text2;
            font-weight: 400px;
            padding-top: 10px;
        }
        .address-txt{
            font-size: 13px;
            color: $light-text2;
            font-weight: 400px;
            padding-top: 10px;
        }
    
}