<ion-page>
  <header class="modal-close"> 
       <ion-icon name="close-outline" class="closeIcon" (click)="closeMenu()"></ion-icon>
      </header>

      <ion-content class="modal-bg">
        <ion-title>TEST FAILED</ion-title>
        <ion-label>
          Unfortunately the connection was interupted before testing could be completed
        </ion-label>
        <div>
          <ion-title>WOULD YOU LIKE TO TRY AGAIN?</ion-title>
          <div>
            <ion-button block class="nobtn" [routerLink]="['/searchschool']">NO</ion-button>
            <ion-button block class="yesbtn" (click)="confirmSchool()">YES</ion-button> 
          </div>
        </div>
      </ion-content>
</ion-page>