<app-pcdc-header></app-pcdc-header>
<ion-content>
  <ion-button class="button_disable_hover" fill="clear"  (click)="backToSaved(school)">
    <ion-img src="assets/images/back_button.svg" name="arrow-back-outline" class="backIcon"></ion-img>
  </ion-button>
  <div class="container">
    
    <div class="top-section">

      <div class="label-txt" [translate]="'confirmSchool.title'"></div>
      <app-selected-detail></app-selected-detail>

      <div *ngIf="this.selectedCountry !=='' && this.selectedCountry !== this.detectedCountry" class="confirm-txt"
        [translate]="'confirmSchool.confirm1'"
        [translateParams]="{ facility: (facilityLabelKey | translate) }"></div>
      <ion-item lines="none" *ngIf="school" class="detail_box">
        <ion-label class="box_margin">
          <span *ngIf="school?.name" class="schoolName">{{school.name}}</span><br  *ngIf="school?.name" />
          <!-- <span *ngIf="school?.education_level" class=" school_detail">{{school.education_level}}</span><br  *ngIf="school?.education_level" />
          <span *ngIf="school?.admin_1_name" class=" school_detail">{{school.admin_1_name}}- {{school.admin_1_name}}</span><br *ngIf="school?.admin_1_name" />
          <span *ngIf="school?.lat" class="school_detail"><span class="linkColor">admin_1_name long</span></span><br *ngIf="school?.lat" /> -->
          <span *ngIf="school?.school_id" class="school_detail">{{school.school_id}}</span><br  *ngIf="school?.school_id"/>

          <span class="school_detail googleCheck linkColor">
            <!-- <span [translate]="'schoolDetails.checkGiga' | translate"></span>
            <ion-img src="assets/images/Launch.png" class="welcome_icon"></ion-img> -->
          </span>
        </ion-label>
        <!-- <div class="schoolid">School ID: {{school.school_id | uppercase}}</div> -->
      </ion-item>
    </div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">

  <!-- <div class="confirm-txt" [translate]="'confirmSchool.confirm2'"></div> -->
  <ion-toolbar>
    <div class="notification" *ngIf="showNotification">
      <ion-img name="information-circle-outline"  src="assets/images/info_icon.svg"></ion-img>

      <p class="MakeSureText" [innerHTML]="'schoolDetails.confirmText' | translate : { facility: (facilityLabelKey | translate) }">
       
      </p>
      <!-- <ion-img src="assets/images/close_notication.svg" name="close-outline" class="close-icon" (click)="closeNotification()"></ion-img> -->

      <!-- <ion-icon name="close-outline" class="close-icon" (click)="closeNotification()"></ion-icon> -->
    </div>
    <div class="btn-holder" >
      <ion-button block class="nobtn"  fill="outline" (click)="backToSearchDetail()" [translate]="'no'"></ion-button>
      <ion-button block class="yesbtn" (click)="confirmSchool()" [translate]="'yes'"></ion-button>
    </div>
  </ion-toolbar>
  <!-- <div class="h-line"></div> -->
</ion-footer>