
<ion-header no-shadow>
  <ion-toolbar>
    <ion-label>PROJECT CONNECT <span class="daily-chk">DAILY CHECK</span></ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">    
    <div class="top-section">     
      <div class="label-txt">CONFIRM SCHOOL INFORMATION TO REGISTER YOUR SCHOOL WITH PROJECT CONNECT</div>       
      <div class="schoolDetails" *ngIf="school">  
        <div class="schoolname">{{school.name | truncate:[30]}}</div>          
        <div class="schoolAddress">{{school.admin_2_name?school.admin_2_name+',':''}} {{school.admin_1_name?school.admin_1_name+',':''}} {{school.postal_code?school.postal_code+',':''}} {{school.country}}</div>
        <div class="schoolid">School ID: {{school.school_id | uppercase}}</div>
      </div>
    </div>
    <ion-item lines="full"></ion-item>
    <div class="bottom-section">      
      <div class="confirm-txt">IS THE INFORMATION ABOVE CORRECT?</div>     
      <div class="btn-holder">       
        <ion-button block class="nobtn" [routerLink]="['/searchschool']">NO</ion-button>
        <ion-button block class="yesbtn" (click)="confirmSchool()">YES</ion-button> 
      </div>
      <div class="h-line"></div>
    </div>    
   </div>
</ion-content>
