
<ion-header no-shadow>
  <ion-navbar>
    <ion-label>PROJECT CONNECT <span class="daily-chk">DAILY CHECK</span></ion-label>
  </ion-navbar>
</ion-header>
<ion-content>
  <div class="container">
    
    <div class="top-layout"> 
     
      <div class="label-txt">School details for ID BA1699450453:</div>
        
      <div class="ionList">
      <ion-list>

        <ion-item>
           <ion-label><span>Meliponário Pólen Dourado</span><br><span>Queimadas - BA, 48860-000, Brazil</span></ion-label>
           <ion-radio mode="md" slot="start" value="Meliponário Pólen Dourado
           "></ion-radio>
         </ion-item>
         <ion-item>
          <ion-label><span>Meliponário Pólen Dourado</span><br><span>Queimadas - BA, 48860-000, Brazil</span></ion-label>
          <ion-radio mode="md" slot="start" value="Meliponário Pólen Dourado
          "></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label><span>Meliponário Pólen Dourado</span><br><span>Queimadas - BA, 48860-000, Brazil</span></ion-label>
          <ion-radio mode="md" slot="start" value="Meliponário Pólen Dourado
          "></ion-radio>
        </ion-item>
      
 
     </ion-list>
    </div>
     </div>
     <div class="bottom-layout">
      <ion-button color="primary" block onclick="gotoDailyCheck()" class="dailycheck_btn">CONFIRM SCHOOL ID</ion-button>
      <div class="noSchoolList-txt">MY SCHOOL IS NOT ON THE LIST <span class="rightArr">&rsaquo;</span></div>     
    </div>
   </div>
</ion-content>
