<app-pcdc-header></app-pcdc-header>

<ion-content data-testid="school-details-page">
  <ion-button data-testid="school-details-back"
    [ngClass]="isNativeApp() ? 'button_disable_hover_native' : 'button_disable_hover'" fill="clear"
    (click)="backToSearchDetail()">
    <ion-img src="assets/images/back_button.svg" name="arrow-back-outline" class="backIcon"></ion-img>
  </ion-button>

  <div class="container">
    <app-selected-detail></app-selected-detail>

    <div>
      <div data-testid="school-details-select-confirm" class="selectandconfirm"
        [translate]="'schoolDetails.selectAndConfirm'"></div>

      <div data-testid="school-details-matches-count" class="matches"
        [translate]="'schoolDetails.totalSchools' | translate:{ schoolCount: schools?.length, schoolId: (schoolId | uppercase) }">
      </div>

      <div class="ionListContainer">
        <div class="ionList" data-testid="school-list-container">
          <!-- Multiple schools radio group -->
          <ng-container *ngIf="schools?.length > 1; else singleSchool">
            <ion-radio-group [(ngModel)]="selectedSchool" data-testid="school-radio-group">
              <ion-item data-testid="school-item-{{ $index }}" class="school_item" lines="none"
                *ngFor="let schoolInfo of schools; let i = index"
                [ngClass]="{ 'selected-border': selectedSchool === schoolInfo }">
                <ion-label>
                  <span *ngIf="schoolInfo?.name" class="schoolName">{{ schoolInfo.name }}</span>
                  <span *ngIf="schoolInfo?.school_id" class="school_detail">{{ schoolInfo.school_id }}</span>
                </ion-label>
                <ion-radio slot="end" [value]="schoolInfo"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ng-container>

          <!-- Single school template -->
          <ng-template #singleSchool>
            <ion-item data-testid="single-school-item" lines="none" *ngIf="schools?.length"
              class="selected-border school_item single_school">
              <ion-label>
                <span *ngIf="schools[0]?.name" class="schoolName">{{ schools[0].name }}</span>
                <span *ngIf="schools[0]?.school_id" class="school_detail">{{ schools[0].school_id }}</span>
              </ion-label>
            </ion-item>
          </ng-template>
        </div>
      </div>
    </div>

    <div [ngClass]="isNativeApp() ? 'bottom-layout-native' : 'bottom-layout'">
      <ion-button data-testid="school-details-select-button" color="primary" appEnterKeyClick
        class="searchButton btn_margin" (click)="confirmSchool(selectedSchool.school_id ? selectedSchool : schools[0])"
        [disabled]="!selectedSchool.school_id && schools?.length > 1"
        [translate]="'schoolDetails.select' | translate"></ion-button>
    </div>
  </div>
</ion-content>