<ion-header no-shadow>
  <ion-toolbar>
    <ion-label [routerLink]="['/home']">PROJECT CONNECT <span class="daily-chk">DAILY CHECK</span></ion-label>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">    
    <div class="top-layout">      
      <div class="label-txt"><span class="result-txt">RESULTS FOR SCHOOL ID</span><br><span class="schoolID-txt">{{schoolId | uppercase}}</span></div>        
      <div class="h-line"></div>
      <div class="selectandconfirm">SELECT AND CONFIRM YOUR SCHOOL</div>
      <div class="ionList">
        <ion-list>
          <ion-radio-group allow-empty-selection [value]="" [(ngModel)]="gigaId" (ngModelChange)="validateSelectedSchool($event)">
            <ion-item *ngFor="let schoolInfo of schools">
              <ion-label>
                <span class="schoolName">{{schoolInfo.name}}</span><br>
                <span class="streetName" *ngIf="schoolInfo.address">{{schoolInfo.address}}</span><br>
                <span class="schoolAddress">{{schoolInfo.admin_2_name?schoolInfo.admin_2_name+',':''}} {{schoolInfo.admin_1_name?schoolInfo.admin_1_name+',':''}} {{schoolInfo.postal_code?schoolInfo.postal_code+',':''}} {{schoolInfo.country}}</span></ion-label>
              <ion-radio mode="md" slot="start" [value]="schoolInfo.giga_id" (click)="schoolSelection(schoolInfo)"></ion-radio>
            </ion-item>
          </ion-radio-group>  
        </ion-list>
      </div>
    </div>
    <div class="bottom-layout">
      <ion-button color="primary" block  (click)="confirmSchool()" class="dailycheck_btn">CONFIRM SCHOOL ID</ion-button>
      <div class="noSchoolList-txt">MY SCHOOL IS NOT ON THE LIST <span class="rightArr">&rsaquo;</span></div>     
    </div>
  </div>
</ion-content>
