/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import './theme/variables.scss';
ion-header{
    background-color: #000000 !important;
    height: 70px;
    padding-left: 30px;
    display:flex;
    align-items: center;
    ion-label{
      font-size: 15px !important;
    }
  }
.dailycheck_btn{
    max-width:390px;
    min-width: 320px;
    font-size: 12px;
    border-radius: 0px !important;
    height: 50px;
    span{
      font-size: 24px;
      padding-left: 5px;
    }
  }
  .top-layout{  
    padding-top: 30px;
  }
  .bottom-layout{
    position: fixed;
    bottom: 40px;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    text-align: center;
  }
  .sc-ion-input-ios-h {
    --padding-top: 10px;
    --padding-end: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    font-size: inherit;
    border: 1px solid #222;
    border-radius: 5px;
  }

  ion-label{
    color: $h2color;
  }

  .toolbar-background {
    position:relative !important
  }

  ion-toolbar{
    --background:#000000 !important;
  }