
@import '../../theme/variables.scss';
.welcomebg1{
  
 padding: 0px 30px !important;
 background: url("../../assets/images/welcome_bg.jpg") !important;
 background-size: 100% 100%;
 position: fixed;  
 left: 0; 
 /* Preserve aspet ratio */
 min-width: 100%;
 min-height: 100%;
}
.welcometxt1{
 
  font-size: 45px; 
  padding-top: 24px;
  color: #ffffff;
}
.welcometxt2{
  font-size: 26px;  
  padding-top: 20px;
  color: #ffffff;
}
ion-content{
  ion-label{
    font-size: 15px;
  }
}
.daily-chk{
  color: $color-blue;
}
.daily-chk-blk{
  color: $color-black;
}
.learnmore{
  font-family:Cabin;
  font-size: 12px;
  padding: 0px 30px;
  padding-top: 10px;
  color: #ffffff;
  span{
    font-size: 24px;
    padding-left: 5px;
  }
}
div.slide-title {
    margin-top: 2.8rem;
    padding: 0 20px;
    text-align: left;
    font-size: 45px !important;    
    line-height: 44px;
  }
.dailycheck_btn{
  width:100%;
}
.slide-image {
  max-height: 40%;
  max-width: 60%;
  margin: 36px 0;
}
.bottom-layout{
  position: absolute;   
  bottom:100px;
  padding: 0px 20px;
  width: 100%;
  text-align: center;
}



