<app-pcdc-header></app-pcdc-header>
<ion-content no-bounce>
  <div class="container">
    <div class="welcomebg1">
      <div class="top-layout">
        <div class="welcometxt1" [innerHTML]="'home.title1' | translate"></div>
        <div class="welcometxt2" [translate]="'home.title2'"></div>
      </div>
      <div class="bottom-layout">
        <ion-button
          color="primary"
          block
          [routerLink]="['/searchcountry']"
          class="dailycheck_btn"
          ><span class="next-txt" [translate]="'home.next'"></span
        ></ion-button>
        <div
          class="learnmore"
          (click)="openExternalUrl('https://projectconnect.unicef.org/daily-check-app')"
          [translate]="'home.learn-more'"
        ></div>
      </div>
    </div>
  </div>
</ion-content>
