@import "../../theme/variables.scss";
.welcomebg1 {
  padding: 0px 40px !important;
  position: absolute;
  left: 0;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  border-radius: 0px 0px 10px 10px;
}
.welcometxt1 {
  font-size: 28px;
  padding-top: 25px;
  color: $light-text2;
  width: 78%;
}

.welcometxt2 {
  font-size: 13px;
  padding-top: 20px;
  color: $light-text2;
  width: 84%;
}
.small-font {
  font-size: 12px;
}

ion-content {
  ion-label {
    font-size: 15px;
  }
}

.learnmore {
  cursor: pointer;
  font-family: Cabin;
  font-size: 11px;
  padding: 0px 30px;
  padding-top: 10px;
  color: $light-text1;
  span {
    font-size: 24px;
    padding-left: 5px;
  }
}
div.slide-title {
  margin-top: 2.8rem;
  padding: 0 20px;
  text-align: left;
  font-size: 45px !important;
  line-height: 44px;
}
.dailycheck_btn {
  width: 100%;
  .span {
    letter-spacing: 1px;
  }
}
.slide-image {
  max-height: 40%;
  max-width: 60%;
  margin: 36px 0;
}
.bottom-layout {
  position: absolute;
  padding: 0px 20px;
  width: 100%;
  text-align: center;
}
