/build/*
!/build/.npmkeep
# Firebase config files
**/google-services.json
**/google-services-debug.json
**/GoogleService-Info.plist

# Android keystore files
*.jks
*.keystore
*.pem
*.p12

# Gradle signing config files
signing.properties
