
<ion-header no-shadow>
  <ion-navbar>
    <ion-label>PROJECT CONNECT <span class="daily-chk">DAILY CHECK</span></ion-label>
  </ion-navbar>
</ion-header>



<ion-content>
  <p>To locate your school please, provide your country name</p>
  <ion-searchbar></ion-searchbar>
  <ion-accordion-group>
    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label>Colors</ion-label>
      </ion-item>    
      <ion-list slot="content">
        <ion-item>
          <ion-label>Red</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Green</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Blue</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
    
  </ion-accordion-group>
  <ion-list>





    <!--   <ion-item><ion-radio slot="start" value="griff" />Amsterdam</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Bogota</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Buenos Aires</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Cairo</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Dhaka</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Edinburgh</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Geneva</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Genoa</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Glasgow</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Hanoi</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Hong Kong</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Islamabad</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Istanbul</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Jakarta</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Kiel</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Kyoto</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Le Havre</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Lebanon</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Lhasa</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Lima</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />London</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Los Angeles</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Madrid</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Manila</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />New York</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Olympia</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Oslo</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Panama City</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Peking</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Philadelphia</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />San Francisco</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Seoul</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Taipeh</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Tel Aviv</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Tokio</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Uelzen</ion-item>
       <ion-item><ion-radio slot="start" value="griff" />Washington</ion-item> -->


<!-- 
<ion-item> 
<ion-label>Python</ion-label>  
<ion-radio disabled="true" value="Python"></ion-radio> 
</ion-item> 
<ion-item> 
<ion-label>Android</ion-label> 
<ion-radio value="Android"></ion-radio> 
</ion-item> 
<ion-item> 
<ion-label>Java</ion-label> 
<ion-radio checked="true" value="java"></ion-radio> 
</ion-item> 
<ion-item> 
<ion-label>C++</ion-label> 
<ion-radio value="C++"></ion-radio> 
</ion-item>  -->




       <ion-item>
          <ion-label>Amsterdam</ion-label>
          <ion-radio mode="md" slot="start" value="Amsterdam"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Bogota</ion-label>
          <ion-radio mode="md" slot="start" value="Bogota"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Cairo</ion-label>
          <ion-radio mode="md" slot="start" value="Cairo"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Dhaka</ion-label>
          <ion-radio mode="md" slot="start" value="Dhaka"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Edinburgh</ion-label>
          <ion-radio mode="md" slot="start" value="Edinburgh"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>India</ion-label>
          <ion-radio mode="md" slot="start" value="India"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Philadelphia</ion-label>
          <ion-radio mode="md" slot="start" value="Philadelphia"></ion-radio>
        </ion-item>
       
        <ion-item>
          <ion-label>Washington</ion-label>
          <ion-radio mode="md" slot="start" value="Washington"></ion-radio>
        </ion-item> 

    </ion-list>
</ion-content>
