@import '../../theme/variables.scss';
.search-label{
  padding: 20px 5px;  
  color: $light-text2;
}
.search-label-error{
  padding: 20px 5px;  
  color: #b00f0f;
}
.ionList{
  padding: 10px 30px;
}
.wrap{
  margin-top:18px;
  padding: 10px 30px;
}
.search {
  width: 100%;
  position: relative;
  display: flex;
  ion-icon{
    color: #e2e2e2;
  }
}
select {
  pointer-events: auto;
}
.searchTerm {
  width: 100%;
  border: 3px solid $color-blue;
  border-right: none;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}
.searchTerm:focus{
  color: #00B4CC;
  --offset-top: 0px;
  --offset-bottom: 0px;
  --keyboard-offset: 0px;
  
}

ion-select:hover {
  color: #fff;

}
.item.sc-ion-label-md-h, .item .sc-ion-label-md-h{
  color: #fff !important;
}




.searchCountry {
  -webkit-app-region: no-drag ;
  width: 100%;
  border: 3px solid $color-blue;
 
  padding: 5px;
  border-radius: 5px ;
  outline: none;
  color: #fff;
}
.searchCountry:hover{
  color: #fff;
  --offset-top: 0px;
  --offset-bottom: 0px;
  --keyboard-offset: 0px;
  
}

.bottom-layout{
  position: absolute; 
  padding: 0px 20px;
  width: 100%;
  text-align: center;
}



.searchButton {
width: 40px;
height: 40px;
border: 1px solid;
border-color: $color-blue;
background: $color-blue;
text-align: center;
color: #fff;
border-radius: 0 5px 5px 0;
cursor: pointer;
font-size: 20px;
}