
<ion-header no-shadow>
  <ion-toolbar>
    <ion-label>PROJECT CONNECT <span class="daily-chk">DAILY CHECK</span></ion-label>
  </ion-toolbar>
</ion-header>



<ion-content>
  <div classname="ionContent">
  <p>To locate your school please, provide your country name</p>
  <ion-searchbar></ion-searchbar>
  <ion-accordion-group>
    <ion-accordion value="colors">
      <ion-item slot="header">
        <ion-label>Colors</ion-label>
      </ion-item>    
      <ion-list slot="content">
        <ion-item>
          <ion-label>Red</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Green</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Blue</ion-label>
        </ion-item>
      </ion-list>
    </ion-accordion>
    
  </ion-accordion-group>
  <ion-list>

       <ion-item>
          <ion-label>Amsterdam</ion-label>
          <ion-radio mode="md" slot="start" value="Amsterdam"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Bogota</ion-label>
          <ion-radio mode="md" slot="start" value="Bogota"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Cairo</ion-label>
          <ion-radio mode="md" slot="start" value="Cairo"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Dhaka</ion-label>
          <ion-radio mode="md" slot="start" value="Dhaka"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Edinburgh</ion-label>
          <ion-radio mode="md" slot="start" value="Edinburgh"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>India</ion-label>
          <ion-radio mode="md" slot="start" value="India"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Philadelphia</ion-label>
          <ion-radio mode="md" slot="start" value="Philadelphia"></ion-radio>
        </ion-item>
       
        <ion-item>
          <ion-label>Washington</ion-label>
          <ion-radio mode="md" slot="start" value="Washington"></ion-radio>
        </ion-item> 

    </ion-list>
  </div>
</ion-content>
