<app-pcdc-header></app-pcdc-header>
<ion-content>
  <ion-button class="button_disable_hover" fill="clear" (click)="backToSearchDetail()">

    <ion-img src="assets/images/back_button.svg" name="arrow-back-outline" class="backIcon"></ion-img>
  </ion-button>
  <div class="container">
    <app-selected-detail *ngIf="reason !== NotFound.notRegister"></app-selected-detail>

    <div class="top-layout wrap_content">
      <!-- <div class="label-txt">
        <span class="result-txt" [translate]="'resultSchool'"></span><br /><span class="schoolID-txt">{{schoolId |
          uppercase}}</span>
      </div> -->
      <!-- <div class="h-line"></div> -->
      <div class="noschool">
        <ng-container *ngIf="isNotFound; else requestError">
          <ion-img src="assets/images/school_not_found.svg" class="noschool-icon"></ion-img>
          <div class="unabletolocate-txt" [innerHtml]="'schoolNotFound.unableToLocate' | translate:{ schoolId }"></div>
          <div class="try_again"  [translate]="'schoolNotFound.tryAgainPlaceholder'"></div>
        </ng-container>
        <ng-template #requestError>
          <ion-img src="assets/images/test_error.svg" class="noschool-icon"></ion-img>
          <div class="unabletolocate-txt" [innerHtml]="'registrationError.' + reason + '.title' | translate"></div>
          <div class="try_again" [innerHtml]="'registrationError.' + reason + '.message' | translate:{ appName }"></div>
        </ng-template>
      </div>
    </div>
    <div class="bottom-layout">
      <ion-button color="primary" (click)="tryAgain()" block class="dailycheck_btn submit_button_size"
        [translate]="reason === NotFound.notRegister ? 'registrationError.registerAgain' : 'tryAgain'"></ion-button>
    </div>
  </div>
</ion-content>
