<app-pcdc-header></app-pcdc-header>
<ion-content>
  <ion-button class="button_disable_hover" fill="clear" (click)="backToSearchDetail()">

    <ion-img src="assets/images/back_button.svg" name="arrow-back-outline" class="backIcon"></ion-img>
  </ion-button>
  <div class="container">
    <app-selected-detail></app-selected-detail>

    <div class="top-layout wrap_content">
      <!-- <div class="label-txt">
        <span class="result-txt" [translate]="'resultSchool'" [translateParams]="{ facility: (facilityLabelKey | translate) }"></span><br /><span class="schoolID-txt">{{schoolId |
          uppercase}}</span>
      </div> -->
      <!-- <div class="h-line"></div> -->
      <div class="noschool">
        <ion-img src="assets/images/school_not_found.svg" class="noschool-icon"></ion-img>
        <div class="unabletolocate-txt" [innerHtml]="'schoolNotFound.unableToLocate' | translate:{ schoolId, facility: (facilityLabelKey | translate) }"></div>
        <!-- <div *ngIf="notFound" class="noschool-txt" [translate]="'schoolNotFound.notFound'" [translateParams]="{ facility: (facilityLabelKey | translate) }"></div> -->
        <!-- <ng-template #notRegister>
          <div class="noschool-txt" [translate]="'schoolNotFound.notRegister' | translate:{ appName, facility: (facilityLabelKey | translate) }"></div>
        </ng-template> -->
        <div class="try_again"  [translate]="'schoolNotFound.tryAgainPlaceholder'"></div>
      </div>
    </div>
    <div class="bottom-layout">
      <ion-button color="primary" (click)="backToSearchDetail()" block class="dailycheck_btn submit_button_size"
        [translate]="'tryAgain'"></ion-button>
    </div>
  </div>
</ion-content>